# Системні файли
.DS_Store
Thumbs.db

# Налаштування редакторів коду
.idea/
.vscode/
*.swp

# Якщо використовується Composer (на майбутнє)
/vendor/

# Логи
*.log

# Якщо раптом з'явиться папка з базою даних від Docker (щоб не вантажити гігабайти)
mysql/